<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{adminpanel/fragments/head}"></head>

<body>

	<!-- ======= Header ======= -->
	<header th:replace="~{adminpanel/fragments/header}"></header>
	<!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<aside th:replace="~{adminpanel/fragments/sidebar}"></aside>
	<!-- End Sidebar-->

	<!-- ======== main ========== -->

	<div layout:fragment="content">

		<main id="main" class="main">

			<div class="pagetitle">
				<h1>Neden Biz Kısmı</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a
							th:href="@{/api/v1/admin-panel}">Anasayfa</a></li>
						<li class="breadcrumb-item active">
							<a th:href="@{/api/v1/smmm-homepage-settings}">Anasayfa Ayarları</a>
						</li>
						<li class="breadcrumb-item active">
							<a th:href="@{/api/v1/smmm-homepage-whyus-settings}">Anasayfa Neden Biz</a>
						</li>
					</ol>
				</nav>
			</div>
			<!-- End Page Title -->

			<section class="section dashboard">
				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-body">
<!-- 								<h5 class="card-title">Anasayfa hakkımızda kısmına madde ekle</h5> -->
								<div class="mt-3">
									<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addWhyUsModal">
						                Neden biz kısmı madde ekle
						            </button>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="row">					
					<div class="col-sm-12">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Neden biz kısmı</h5>
								<!-- Table with hoverable rows -->
								<div style="height: 260px; overflow: auto">
								<table id="whyUsTable" class="table table-hover table-sm">
								<thead style="position:sticky;top:0;">
									<tr>
										<th>id</th>
										<th>Başlık</th>
										<th>Alt Yazı</th>
										<th>Durum</th>
										<th>smmmofisId</th>
										<th><i class="bi bi-gear"></i> işlemler</th>
									</tr>
								</thead>
								<tbody id="whyUsTableBody">
									<tr th:each="w,i :${whyUsList}">
										<td th:text="${w.id}"></td>
										<td th:text="${w.header}"></td>
										<td th:text="${w.text}"></td>
										<td>
											<span class="badge bg-primary" th:if="${w.active==true}">Aktif</span>
											<span class="badge bg-danger" th:if="${w.active==false}">Pasif</span>
										</td>
										<td th:text="${w.smmmofis.id}"></td>
										<td>
											<div class="btn-group" role="group" aria-label="Basic mixed styles example">
								                <a id="viewBtn" type="button" class="btn btn-success" 
								                	 data-bs-toggle="modal" data-bs-target="#viewWhyUsModal"
								                	th:href="@{/api/v1/get-homepage-whyus/{id}(id=${w.id})}">
								                	<i class="bi bi-eye"></i>
								                </a>
								                <a id="editBtn" type="button" class="btn btn-warning"  
								                	data-bs-toggle="modal" data-bs-target="#editWhyUsModal"
								                	th:href="@{/api/v1/get-homepage-whyus/{id}(id=${w.id})}">
								                	<i class="bi bi-pencil"></i>
								                </a>
								                <a id="deleteBtn" type="button" class="btn btn-danger" 
								                	th:href="@{/api/v1/delete-homepage-whyus/{id}(id=${w.id})}"
								                	data-bs-toggle="modal" data-bs-target="#deleteWhyUsModal">
								                	<i class="bi bi-trash"></i>
								                </a>
								            </div>
										</td>
									</tr>
								</tbody>
								</table>
								</div>
								<!-- End Table with hoverable rows -->
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- End #main -->

	</div>
	
	<!-- add aboutus modal sart -->
	<div class="modal fade" id="addWhyUsModal" tabindex="-1" style="display: none; padding-right: 1px;" aria-hidden="true" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title text-white">Neden Biz Kısmı Madde Ekle</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
				<!-- Horizontal Form -->
					<form id="addWhyUsForm"
						th:action="@{ /api/v1/save-homepage-whyus}"
						th:object="${hpWhyUs}" method="post">

						<div class="row mb-2 mt-3" style="display: none;">
							<label for="hpWhyUsId" class="col-sm-2 col-form-label-sm">Id</label>
							<div class="col-sm-10">
								<input type="text" class="form-control form-control-sm"
									name="id" id="hpWhyUsId">
							</div>
						</div>
						<div class="row mb-2">
							<label for="hpWhyUsHeader" class="col-sm-2 col-form-label-sm">Başlık</label>
							<div class="col-sm-10">
								<input type="text" class="form-control form-control-sm"
									name="header" id="hpWhyUsHeader" required="required">
							</div>
						</div>
						<div class="row mb-2">
							<label for="hpWhyUsText" class="col-sm-2 col-form-label-sm">Parafraf</label>
							<div class="col-sm-10">
								<input type="text" class="form-control form-control-sm"
									name="text" id="hpWhyUsText" required="required">
							</div>
						</div>
						<div class="row mb-2">
							<label for="hpWhyUsActive" class="col-sm-2 col-form-label-sm">Aktif-Pasif</label>
							<div class="col-sm-10">
								<input type="checkbox" class="form-check-input" name="active"
									id="hpWhyUsActive">
							</div>
						</div>

						<div class="grid gap-2 text-center float-end">
							<button type="submit" class="btn btn-primary">Kaydet</button>
							<button type="reset" class="btn btn-secondary">Formu
								Temizle</button>
						</div>
					</form>
					<!-- / Horizontal Form -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning"
						data-bs-dismiss="modal">Kapat</button>
<!-- 					<button type="button" class="btn btn-primary">Save changes</button> -->
				</div>
			</div>
		</div>
	</div>
	<!-- add aboutus modal end -->
	
	<!-- view aboutus modal sart -->
	<div class="modal fade" id="viewWhyUsModal" tabindex="-1" style="display: none; padding-right: 1px;" aria-hidden="true" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-success">
					<h5 class="modal-title text-white"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
				<!-- Horizontal Form -->
						<form >

						<div class="row mb-2 mt-3" style="display: none;">
							<label for="hpWhyUsId" class="col-sm-2 col-form-label-sm">Id</label>
							<div class="col-sm-10">
								<input type="text" class="form-control form-control-sm" disabled="disabled"
									name="id" id="hpWhyUsId">
							</div>
						</div>
						<div class="row mb-2">
							<label for="hpWhyUsHeader" class="col-sm-2 col-form-label-sm">Başlık</label>
							<div class="col-sm-10">
								<input type="text" class="form-control form-control-sm" disabled="disabled"
									name="header" id="hpWhyUsHeader" required="required">
							</div>
						</div>
						<div class="row mb-2">
							<label for="hpWhyUsText" class="col-sm-2 col-form-label-sm">Parafraf</label>
							<div class="col-sm-10">
								<input type="text" class="form-control form-control-sm" disabled="disabled"
									name="text" id="hpWhyUsText" required="required">
							</div>
						</div>
						<div class="row mb-2">
							<label for="hpWhyUsActive" class="col-sm-2 col-form-label-sm">Aktif-Pasif</label>
							<div class="col-sm-10">
								<input type="checkbox" class="form-check-input" name="active" disabled="disabled"
									id="hpWhyUsActive">
							</div>
						</div>
						<div class="row mb-2 mt-3">
							<label for="hpWhyUsSmmmOfisId" class="col-sm-2 col-form-label-sm">smmmofis_Id</label>
							<div class="col-sm-10">
								<input type="text" class="form-control form-control-sm" name="smmmofis.id" disabled="disabled"
									 id="hpWhyUsSmmmOfisId">
							</div>
						</div>
						
					</form>		
				<!-- /End Horizontal Form -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning"
						data-bs-dismiss="modal">Kapat</button>
<!-- 					<button type="button" class="btn btn-primary">Save changes</button> -->
				</div>
			</div>
		</div>
	</div>
	<!-- view aboutus modal end -->
	
	<!-- edit aboutus modal start -->
	<div class="modal fade" id="editWhyUsModal" tabindex="-1" style="display: none; padding-right: 1px;" aria-hidden="true" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-warning">
					<h5 class="modal-title text-success"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
				<!-- Horizontal Form -->
						<form id="editWhyUsForm"
								th:action="@{ /api/v1/update-homepage-whyus}"
								th:object="${hpWhyUs}" method="post">

						<div class="row mb-2 mt-3">
							<label for="hpWhyUsId" class="col-sm-2 col-form-label-sm">Id</label>
							<div class="col-sm-10">
								<input type="text" class="form-control form-control-sm" name="id" readonly="readonly"
									 id="hpWhyUsId">
							</div>
						</div>
						<div class="row mb-2">
							<label for="hpWhyUsHeader" class="col-sm-2 col-form-label-sm">Başlık</label>
							<div class="col-sm-10">
								<input type="text" class="form-control form-control-sm"
									name="header" id="hpWhyUsHeader" required="required">
							</div>
						</div>
						<div class="row mb-2">
							<label for="hpWhyUsText" class="col-sm-2 col-form-label-sm">Madde</label>
							<div class="col-sm-10">
								<input type="text" class="form-control form-control-sm" name="text"
									 id="hpWhyUsText" required="required">
							</div>
						</div>
						<div class="row mb-2">
							<label for="hpWhyUsActive" class="col-sm-2 col-form-label-sm">Aktif-Pasif</label>
							<div class="col-sm-10">
								<input type="checkbox" class="form-check-input" name="active"
									id="hpWhyUsActive">
							</div>
						</div>
						<div class="row mb-2 mt-3">
							<label for="hpWhyUsId" class="col-sm-2 col-form-label-sm">smmmofis_Id</label>
							<div class="col-sm-10">
								<input type="text" class="form-control form-control-sm" name="smmmofis.id" readonly="readonly"
									 id="hpWhyUsSmmmOfisId">
							</div>
						</div>
						<div class="grid gap-2 text-center float-end">
							<button type="submit" class="btn btn-primary">Güncelle</button>
							<button type="button" id="editWhyUsFormClearBtn" class="btn btn-secondary">Formu Temizle</button>
								
						</div>
					</form>			
				<!-- / Horizontal Form -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning"
						data-bs-dismiss="modal">Kapat</button>
<!-- 					<button type="button" class="btn btn-primary">Save changes</button> -->
				</div>
			</div>
		</div>
	</div>
	<!-- edit aboutus modal end -->
	
	<!-- delete aboutus modal sart -->
	<div class="modal fade" id="deleteWhyUsModal" tabindex="-1" style="display: none; padding-right: 1px;" aria-hidden="true" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-danger">
					<h5 class="modal-title text-white"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
				<!-- Horizontal Form -->
							<form id="deleteWhyUsForm">

						<div class="row mb-2 mt-3">
							<label for="hpWhyUsId" class="col-sm-2 col-form-label-sm">Id</label>
							<div class="col-sm-10">
								<input type="text" class="form-control form-control-sm" name="id" disabled="disabled"
									 id="hpWhyUsId">
							</div>
						</div>
						<div class="row mb-2">
							<label for="hpWhyUsHeader" class="col-sm-2 col-form-label-sm">Başlık</label>
							<div class="col-sm-10">
								<input type="text" class="form-control form-control-sm" disabled="disabled"
									name="header" id="hpWhyUsHeader" required="required">
							</div>
						</div>
						<div class="row mb-2">
							<label for="hpWhyUsText" class="col-sm-2 col-form-label-sm">Madde</label>
							<div class="col-sm-10">
								<input type="text" class="form-control form-control-sm" name="text" disabled="disabled"
									 id="hpWhyUsText" required="required">
							</div>
						</div>
						<div class="row mb-2">
							<label for="hpWhyUsActive" class="col-sm-2 col-form-label-sm">Aktif-Pasif</label>
							<div class="col-sm-10">
								<input type="checkbox" class="form-check-input" name="active" disabled="disabled"
									id="hpWhyUsActive">
							</div>
						</div>
						<div class="row mb-2 mt-3">
							<label for="hpWhyUsId" class="col-sm-2 col-form-label-sm">smmmofis_Id</label>
							<div class="col-sm-10">
								<input type="text" class="form-control form-control-sm" name="smmmofis.id" disabled="disabled"
									 id="hpWhyUsSmmmOfisId">
							</div>
						</div>
						
					</form>				
				<!-- /Horizontal Form --> 
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning"
						data-bs-dismiss="modal">Kapat</button>
					<a type="button" id="deleteWhyUsConfirmBtn" href="" class="btn btn-danger">Evet Sil</a>
				</div>
			</div>
		</div>
	</div>
	<!-- delete aboutus modal end -->

	<div th:replace="~{adminpanel/fragments/footer}"></div>
	<div th:replace="~{adminpanel/fragments/js}"></div>

</body>

</html>