

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{adminpanel/fragments/head}"></head>

<body>

	<!-- ======= Header ======= -->
	<header th:replace="~{adminpanel/fragments/header}"></header>
	<!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<aside th:replace="~{adminpanel/fragments/sidebar}"></aside>
	<!-- End Sidebar-->

	<!-- ======== main ========== -->

	<div layout:fragment="content">

		<main id="main" class="main">

			<div class="pagetitle">
				<h1>Web Sayfası Ayarları</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a
							th:href="@{/api/v1/admin-panel}">Anasayfa</a></li>
<!-- 						<li class="breadcrumb-item">Ayarlar</li> -->
						<li class="breadcrumb-item active">
							<a th:href="@{/api/v1/smmm-homepage-settings}">Anasayfa Ayarları</a>
						</li>
					</ol>
				</nav>
			</div>
			<!-- End Page Title -->
			<!-- multistepform start -->
			<section class="section">				
					
										
					<div class="row">
<!-- 					<form class="row" th:action="@{/api/v1/save-smmm-homepage-settings}" id="homePageSettingsForm" -->
<!-- 								th:object="${smmmOfis}" method="post" enctype="multipart/form-data"> -->
						<div class="col-lg-6" id="col1">
							
							<div class="card" id="card">
								<div class="card-body mb-5" id="card-budy">
									<!-- <h5 class="card-title">Anasayfa genel ayarları</h5> -->
									<div class="container section-title mb-5 mt-3 text-primary"
										data-aos="fade-up">
										<h2>Kişisel bilgiler</h2>
									</div>
									<!-- General Form Elements -->	
									<form th:action="@{ ${smmmOfis.id==null} ? '/api/v1/save-smmm-homepage-settings-personal-info' : '/api/v1/update-smmm-homepage-settings-personal-info/' + ${smmmOfis.id} } " 
											id="homePageSettingsPersonalInfoForm" method="post" enctype="multipart/form-data">
																			
								    <div class="row mb-3 mt-3" id="general-elements">
										<div class="row d-flex-inline align-items-center" style="padding-top: 10px;">
											<label for="inputNumber" class="col-sm-3 col-form-label-sm w-40">Logo</label>
											<div class="col-sm-5">
												<input class="form-control form-control-sm" type="file" name="logo"
													 id="formImage" accept="image/*">
											</div>
											<div class="col-sm-4 text-center ">
												<img th:if="${smmmOfis.id==null}" class="rounded" width="80" height="80" id="smmmLogo"
													th:src="@{../../niceadminpanel/assets/img/smmm.png}" alt="">
												<img th:if="${smmmOfis.id!=null}" class="rounded" width="80" height="80" id="smmmLogo"
													th:src=" 'data:image/*;base64,' + ${smmmOfis.stringLogo} " alt="">
											</div>								
										</div>										
									</div>
									<div class="row mb-1" >
										<label for="id" class="col-sm-3 col-form-label-sm">Id</label>
										<div class="col-sm-9">
											<input type="text" id="id" placeholder="id" name="id" readonly th:value="${smmmOfis.id}"
												class="form-control-plaintext form-control-sm">
										</div>
									</div>
									<div class="row mb-1">
										<label for="unvan" class="col-sm-3 col-form-label-sm">Ünvan</label>
										<div class="col-sm-9">
											<input type="text" id="unvan" placeholder="Ünvan" name="unvan" th:value="${smmmOfis.unvan}"
												class="form-control form-control-sm">
										</div>
									</div>
									<div class="row mb-1">
										<label for="firstName" class="col-sm-3 col-form-label-sm">Adı</label>
										<div class="col-sm-9">
											<input type="text" id="firstName" placeholder="Adınız" name="firstName" th:value="${smmmOfis.firstName}"
												class="form-control form-control-sm">
										</div>
									</div>
									<div class="row mb-1">
										<label for="lastName" class="col-sm-3 col-form-label-sm">Soyadı</label>
										<div class="col-sm-9">
											<input type="text" id="lastName" placeholder="Soyadınız" name="lastName" th:value="${smmmOfis.lastName}"
												class="form-control form-control-sm">
										</div>
									</div>
									<div class="row mb-1">
										<label for="fullName" class="col-sm-3 col-form-label-sm">Adı Soyadı</label>
										<div class="col-sm-9">
											<input type="text" id="fullName" name="fullName" th:value="${smmmOfis.fullName}"
												class="form-control form-control-sm" >
										</div>
									</div>
									<div class="row mb-1">
										<label for="email" class="col-sm-3 col-form-label-sm">Email</label>
										<div class="col-sm-9">
											<input type="email" id="email" placeholder="Email adresiniz" name="email" th:value="${smmmOfis.email}"
												class="form-control form-control-sm">
										</div>
									</div>
									<div class="row mb-1">
										<label for="userName" class="col-sm-3 col-form-label-sm">Kullanıcı Adı</label>
										<div class="col-sm-9">
											<input type="text" id="userName"  name="userName"  th:value="${smmmOfis.userName}"
												placeholder="Yönetici Ad"
												class="form-control form-control-sm">
										</div>
									</div>
									<div class="row mb-1">
										<label for="password" class="col-sm-3 col-form-label-sm">Şifre</label>
										<div class="col-sm-9">
											<input type="text" id="password" name="password" th:value="${smmmOfis.password}"
												placeholder="yönetici Şifre"
												class="form-control form-control-sm">
										</div>
									</div>
									<div class="row mb-3">
										<label for="confirmPassword"
											class="col-sm-3 col-form-label-sm">Şifre Doğrula</label>
										<div class="col-sm-9">
											<input type="text" id="confirmPassword"
												placeholder="Şifreyi Tekrar gir"
												class="form-control form-control-sm">
										</div>
									</div>									
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == false}" class="btn btn-primary btn-sm"> Kaydet </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == true}" class="btn btn-primary btn-sm">Güncelle </button>
											
									</div>
									</form>
									
									<hr>
									
									<div class="container section-title mb-5 text-primary"
										data-aos="fade-up">
										<h2>Anasayfa</h2>
									</div>
									<!-- End Section Title -->
									<form th:action="@{ ${smmmOfis.id==null} ? '/api/v1/save-smmm-homepage-settings-homepage-info' : '/api/v1/update-smmm-homepage-settings-homepage-info/' + ${smmmOfis.id} }" 
																id="homePageForm" method="post">
									<div class="row mb-1">
										<label for="sekmeBaslik" class="col-sm-3 col-form-label-sm">Sekme Başlık</label>
										<div class="col-sm-9">
											<input type="text" id="sekmeBaslik" name="mainpageTitle" th:value="${smmmOfis.mainpageTitle}"
												placeholder="Sayfa açıldığında sekme başlığı"
												class="form-control form-control-sm">
										</div>
									</div>
									<div class="row mb-1">
										<label for="navbarBaslik" class="col-sm-3 col-form-label-sm">Menu Başlık</label>
										<div class="col-sm-9">
											<input type="text" id="navbarBaslik" name="headerTitle" th:value="${smmmOfis.headerTitle}"
												placeholder="Menu sol taraf başlık"
												class="form-control form-control-sm">
										</div>
									</div>
									<div class="row mb-1">
										<label for="heroBaslik" class="col-sm-3 col-form-label-sm">Anasayfa Başlık</label>
										<div class="col-sm-9">
											<input type="text" id="heroBaslik" name="heroTitle" th:value="${smmmOfis.heroTitle}"
												placeholder="Anasayfa başlık"
												class="form-control form-control-sm">
										</div>
									</div>
									<div class="row mb-1">
										<label for="heroParagraf" class="col-sm-3 col-form-label-sm">Anasayfa Paragraf</label>
										<div class="col-sm-9">
											<textarea id="heroParagraf" placeholder="Anasayfa paragraf" name="heroParagraf" 
														th:text="${smmmOfis.heroParagraf}"
													class="form-control form-control-sm">
											</textarea>
										</div>
									</div>
									<div class="row mb-3">
										<label for="heroVideoLink" class="col-sm-3 col-form-label-sm">Anasayfa<br>VideoLink</label>
										<div class="col-sm-9">
											<textarea id="heroVideoLink" name="videoLink"  th:text="${smmmOfis.videoLink}"
												class="form-control form-control-sm"
												placeholder="Anasayfada butona tıklandığında açılacak videonun linkini yapıştır.">
											</textarea>
										</div>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == false}" class="btn btn-primary btn-sm"> Kaydet </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == true}" class="btn btn-primary btn-sm">Güncelle </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<a class="btn btn-outline-warning btn-sm" th:href="@{/api/v1/smmm-homepage-clients-settings}"> Anasayfada kurumlar için resim ve link ekle. </a>
									</div>
									</form>
									
									<hr>
									
									<div class="container section-title mb-5" data-aos="fade-up">
										<h2 class="text-primary">Hakkımızda</h2>
									</div>
									<form th:action="@{${smmmOfis.id==null} ? '/api/v1/save-smmm-homepage-settings-aboutus-info' : '/api/v1/update-smmm-homepage-settings-aboutus-info/' + ${smmmOfis.id} }" 
															id="aboutusPageForm" method="post">
									<div class="row mb-1">
										<label for="aboutUsAnaBaslik"
											class="col-sm-3 col-form-label-sm">Hakkımızda<br>Ana Başlık</label>
										<div class="col-sm-9">
											<textarea id="aboutUsAnaBaslik" name="aboutusmainheader" th:text="${smmmOfis.aboutusmainheader}"
												placeholder="Hakkımızda Kısmı Ana Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="row mb-1">
										<label for="aboutUsColOneBaslik"
											class="col-sm-3 col-form-label-sm">Hakkımızda<br>Sütun 1 Başlık</label>
										<div class="col-sm-9">
											<textarea id="aboutUsColOneBaslik" name="aboutUsColumnOneHeader" th:text="${smmmOfis.aboutUsColumnOneHeader}"
												placeholder="Hakkımızda Kısmı Sütun 1 Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="row mb-3">
										<label for="aboutUsColTwoParagraf"
											class="col-sm-3 col-form-label-sm">Hakkımızda<br>sütun 2 Paragraf</label>
										<div class="col-sm-9">
											<textarea id="aboutUsColTwoParagraf" name="aboutUsColumnTwoParagraf" th:text="${smmmOfis.aboutUsColumnTwoParagraf}"
												placeholder="Hakkımızda Kısmı sütun 2 paragraf"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == false}" class="btn btn-primary btn-sm"> Kaydet </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == true}" class="btn btn-primary btn-sm">Güncelle </button>
									</div>
									<div class="d-grid gap-2 mb-3">
										<a class="btn btn-outline-warning btn-sm" th:href="@{/api/v1/smmm-homepage-aboutus-settings}"> Hakkımızda kısmı 1. sütun için madde ekle. </a>
									</div>
									</form>
									
									<hr>
									
									<div class="container section-title mb-5 text-primary"
										data-aos="fade-up">
										<h2>Neden Biz ?</h2>
									</div>
									<form th:action="@{${smmmOfis.id==null} ? '/api/v1/save-smmm-homepage-settings-whyus-info' : '/api/v1/update-smmm-homepage-settings-whyus-info/' + ${smmmOfis.id} }" 
															id="whyusPageForm"  method="post">
									<div class="row mb-1">
										<label for="whyUsAnaBaslik" class="col-sm-3 col-form-label-sm">Neden Biz<br>Ana Başlık</label>
										<div class="col-sm-9">
											<textarea id="whyUsAnaBaslik" name="whyusMainHeader" th:text="${smmmOfis.whyusMainHeader}"
												placeholder="Neden Biz Kısmı Ana Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="row mb-1">
										<label for="whyUsAltBaslik" class="col-sm-3 col-form-label-sm">Neden Biz<br>Alt Başlık</label>
										<div class="col-sm-9">
											<textarea id="whyUsAltBaslik" name="whyusHeader" th:text="${smmmOfis.whyusHeader}"
												placeholder="Neden Biz Kısmı Alt Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="row mb-3">
										<label for="whyUsAltParagraf"
											class="col-sm-3 col-form-label-sm">Neden Biz<br>Alt Paragraf</label>
										<div class="col-sm-9">
											<textarea id="whyUsAltParagraf" name="whyusParagraf" th:text="${smmmOfis.whyusParagraf}"
												placeholder="Neden Biz Kısmı Alt Paragraf"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == false}" class="btn btn-primary btn-sm"> Kaydet </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == true}" class="btn btn-primary btn-sm">Güncelle </button>
									</div>
									<div class="d-grid gap-2 mb-3">
										<a class="btn btn-outline-warning btn-sm" th:href="@{/api/v1/smmm-homepage-whyus-settings}"> Neden biz kısmı için madde ekle. </a>
									</div>
									</form>
									
									<hr>
									
									<div class="container section-title mb-5 text-primary"
										data-aos="fade-up">
										<h2>Başarılar</h2>
									</div>
									<form th:action="@{${smmmOfis.id==null} ? '/api/v1/save-smmm-homepage-settings-skillspage-info' : '/api/v1/update-smmm-homepage-settings-skillspage-info/' + ${smmmOfis.id}}" id="skillsPageForm"
															 method="post">
									<div class="row mb-1">
										<label for="skillsAnaBaslik"
											class="col-sm-3 col-form-label-sm">Başarılar<br>Ana Başlık</label>
										<div class="col-sm-9">
											<textarea id="skillsAnaBaslik" name="skillsMainHeader" th:text="${smmmOfis.skillsMainHeader}"
												placeholder="Başarılar Kısmı Ana Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="row mb-1">
										<label for="skillsAltBaslik"
											class="col-sm-3 col-form-label-sm">Başarılar<br>Alt Başlık</label>
										<div class="col-sm-9">
											<textarea id="skillsAltBaslik" name="skillsHeader" th:text="${smmmOfis.skillsHeader}"
												placeholder="Başarılar Kısmı Alt Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="row mb-3">
										<label for="skillsAltParagraf"
											class="col-sm-3 col-form-label-sm">Başarılar<br>Alt Paragraf</label>
										<div class="col-sm-9">
											<textarea id="skillsAltParagraf" name="skillsParagraf" th:text="${smmmOfis.skillsParagraf}"
												placeholder="Başarılar Kısmı Alt Paragraf"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == false}" class="btn btn-primary btn-sm"> Kaydet </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == true}" class="btn btn-primary btn-sm">Güncelle </button>
									</div>
									<div class="d-grid gap-2 mb-3">
										<a class="btn btn-outline-warning btn-sm"> Başarılar kısmı için madde ekle. </a>
									</div>
									</form>
									
									<hr>
									
									<div class="container section-title mb-5 text-primary"
										data-aos="fade-up">
										<h2>Hizmetler</h2>
									</div>
									<form th:action="@{ ${smmmOfis.id==null} ? '/api/v1/save-smmm-homepage-settings-services-info' : '/api/v1/update-smmm-homepage-settings-services-info/'+${smmmOfis.id}}" id="servicesPageForm"
															 method="post">
									<div class="row mb-1">
										<label for="servicesAnaBaslik"
											class="col-sm-3 col-form-label-sm">Hizmetler<br>Ana Başlık</label>
										<div class="col-sm-9">
											<textarea id="servicesAnaBaslik" name="serviceMainHeader" th:text="${smmmOfis.serviceMainHeader}"
												placeholder="Hizmetler Kısmı Ana Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="row mb-3">
										<label for="servicesAltBaslik"
											class="col-sm-3 col-form-label-sm">Hizmetler<br>Alt Başlık</label>
										<div class="col-sm-9">
											<textarea id="servicesAltBaslik" name="serviceHeader" th:text="${smmmOfis.serviceHeader}"
												placeholder="hizmetler Kısmı Alt Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == false}" class="btn btn-primary btn-sm"> Kaydet </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == true}" class="btn btn-primary btn-sm">Güncelle </button>
									</div>
									<div class="d-grid gap-2 mb-4">
										<a class="btn btn-outline-warning btn-sm" th:href="@{/api/v1/smmm-homepage-services-settings}">
															 Hizmetler kısmı için madde ekle. </a>
									</div>

									</form>
									<!-- End General Form Elements -->

								</div>
							</div>

						</div>

						<div class="col-lg-6" id="col2">

							<div class="card">
								<div class="card-body">
									<!-- <h5 class="card-title">Anasayfa genel ayarları</h5> -->

									<!-- Advanced Form Elements -->
									<!--<form> -->
									<div class="container section-title mb-5 mt-3  text-primary"
										data-aos="fade-up">
										<h2>Mevzuat</h2>
									</div>
									<!-- End Section Title -->
									<form th:action="@{${smmmOfis.id==null} ? '/api/v1/save-smmm-homepage-settings-mevzuat-info' : '/api/v1/update-smmm-homepage-settings-mevzuat-info/' + ${smmmOfis.id}}" id="mevzuatPageForm"
															 method="post">
									<div class="row mb-1">
										<label for="calltoactionsAnaBaslik"
											class="col-sm-3 col-form-label-sm">Mevzuat kısmı<br>Ana Başlık</label>
										<div class="col-sm-9">
											<textarea id="calltoactionsAnaBaslik" name="callToActionHeader" th:text="${smmmOfis.callToActionHeader}"
												placeholder="Mevzuat Kısmı Ana Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="row mb-3">
										<label for="calltoactionsAltBaslik"
											class="col-sm-3 col-form-label-sm">Mevzuat kısmı<br>Alt Başlık</label>
										<div class="col-sm-9">
											<textarea id="calltoactionsAltBaslik" name="callToActionText" th:text="${smmmOfis.callToActionText}"
												placeholder="Mevzuat Kısmı Alt Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == false}" class="btn btn-primary btn-sm"> Kaydet </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == true}" class="btn btn-primary btn-sm">Güncelle </button>
									</div>
<!-- 									<div class="d-grid gap-2 mb-1"> -->
<!-- 										<a class="btn btn-outline-warning btn-sm"> Mevzuat kısmı için madde ekle. </a> -->
<!-- 									</div> -->
									</form>
									
									<hr>
									
									<!-- call to actions -->
									<div class="container section-title mb-5 text-primary"
										data-aos="fade-up">
										<h2>Portföy</h2>
									</div>
									<form th:action="@{ ${smmmOfis.id==null} ? '/api/v1/save-smmm-homepage-settings-portfoy-info' : '/api/v1/update-smmm-homepage-settings-portfoy-info/' + ${smmmOfis.id} }" id="portfoyPageForm"
															 method="post">
									<div class="row mb-1">
										<label for="portfolioAnaBaslik"
											class="col-sm-3 col-form-label-sm">Portföy kısmı<br>Ana Başlık</label>
										<div class="col-sm-9">
											<textarea id="portfolioAnaBaslik" name="portfolioHeader" th:text="${smmmOfis.portfolioHeader}"
												placeholder="Portföy Kısmı Ana Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="row mb-3">
										<label for="portfolioAltBaslik"
											class="col-sm-3 col-form-label-sm">Portföy kısmı<br>Alt Başlık</label>
										<div class="col-sm-9">
											<textarea id="portfolioAltBaslik" name="portfolioText" th:text="${smmmOfis.portfolioText}"
												placeholder="Portföy Kısmı Alt Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == false}" class="btn btn-primary btn-sm"> Kaydet </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == true}" class="btn btn-primary btn-sm">Güncelle </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<a class="btn btn-outline-warning btn-sm"> Portföy kısmı için sektör ekle. </a>
									</div>
									<div class="d-grid gap-2 mb-1">
										<a class="btn btn-outline-warning btn-sm"> Sektörler için şirket ekle. </a>
									</div>
									</form>
									
									<hr>
									
									<!-- call to actions -->
									<div class="container section-title mb-5  text-primary"
										data-aos="fade-up">
										<h2>Çalışma arkadaşlarımız</h2>
									</div>
									<form th:action="@{ ${smmmOfis.id==null} ? '/api/v1/save-smmm-homepage-settings-team-info':'/api/v1/update-smmm-homepage-settings-team-info/' + ${smmmOfis.id} }" id="teamPageForm"
											 method="post">
									<div class="row mb-1">
										<label for="teamAnaBaslik" class="col-sm-3 col-form-label-sm">Çalışma ekibi kısmı<br>Ana Başlık</label>
										<div class="col-sm-9">
											<textarea id="teamAnaBaslik" name="teammainheader" th:text="${smmmOfis.teammainheader}"
												placeholder="Çalışma ekibi Kısmı Ana Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="row mb-3">
										<label for="teamAltBaslik" class="col-sm-3 col-form-label-sm">Çalışma ekibi kısmı<br>Alt Başlık</label>
										<div class="col-sm-9">
											<textarea id="teamAltBaslik" name="teamheader" th:text="${smmmOfis.teamheader}"
												placeholder="Çalışma ekibi Kısmı Alt Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == false}" class="btn btn-primary btn-sm"> Kaydet </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == true}" class="btn btn-primary btn-sm">Güncelle </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<a class="btn btn-outline-warning btn-sm"> Çalışma Ekibi kısmı için personel ekle. </a>
									</div>
									</form>
									
									<hr>
									
									<!-- call to actions -->
									<div class="container section-title mb-5  text-primary"
										data-aos="fade-up">
										<h2>Ücretlendirme</h2>
									</div>
									<form th:action="@{ ${smmmOfis.id==null} ? '/api/v1/save-smmm-homepage-settings-pricing-info':'/api/v1/update-smmm-homepage-settings-pricing-info/'+${smmmOfis.id}}" id="pricingPageForm"
																 method="post">
									<div class="row mb-1">
										<label for="pricingAnaBaslik"
											class="col-sm-3 col-form-label-sm">Ücretlendirme kısmı<br>Ana Başlık</label>
										<div class="col-sm-9">
											<textarea id="pricingAnaBaslik" name="pricingMainHeader" th:text="${smmmOfis.pricingMainHeader}"
												placeholder="Ücretlendirme Kısmı Ana Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="row mb-3">
										<label for="pricingAltBaslik"
											class="col-sm-3 col-form-label-sm">Ücretlendirme kısmı<br>Alt Başlık</label>
										<div class="col-sm-9">
											<textarea id="pricingAltBaslik" name="pricingHeader" th:text="${smmmOfis.pricingHeader}"
												placeholder="Ücretlendirme Kısmı Alt Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == false}" class="btn btn-primary btn-sm"> Kaydet </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == true}" class="btn btn-primary btn-sm">Güncelle </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<a class="btn btn-outline-warning btn-sm"> Ücretlendirme kısmı için kart ekle. </a>
									</div>
									</form>
									
									<hr>
									
									<!-- call to actions -->
									<div class="container section-title mb-5  text-primary"
										data-aos="fade-up">
										<h2>Referanslarımız</h2>
									</div>
									<form th:action="@{${smmmOfis.id==null}?'/api/v1/save-smmm-homepage-settings-referans-info':'/api/v1/update-smmm-homepage-settings-referans-info/'+${smmmOfis.id}}" id="referansPageForm"
																 method="post">
									<div class="row mb-1">
										<label for="testimonialsAnaBaslik"
											class="col-sm-3 col-form-label-sm">Referanslar kısmı<br>Ana Başlık</label>
										<div class="col-sm-9">
											<textarea id="testimonialsAnaBaslik" name="testimonialsMainHeader" th:text="${smmmOfis.testimonialsMainHeader}"
												placeholder="Referanslar Kısmı Ana Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="row mb-3">
										<label for="testimonialsAltBaslik"
											class="col-sm-3 col-form-label-sm">Referanslar kısmı<br>Alt Başlık</label>
										<div class="col-sm-9">
											<textarea id="testimonialsAltBaslik" name="testimonialsHeader" th:text="${smmmOfis.testimonialsHeader}"
												placeholder="Referanslar Kısmı Alt Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == false}" class="btn btn-primary btn-sm"> Kaydet </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == true}" class="btn btn-primary btn-sm">Güncelle </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<a class="btn btn-outline-warning btn-sm"> Referanslar kısmı için kart ekle. </a>
									</div>
									</form>
									
									<hr>
									
									<div class="container section-title mb-5  text-primary"
										data-aos="fade-up">
										<h2>Sık sorulan sorular</h2>
									</div>
									<form th:action="@{${smmmOfis.id==null}?'/api/v1/save-smmm-homepage-settings-questions-info':'/api/v1/update-smmm-homepage-settings-questions-info/'+${smmmOfis.id}}" id="questionsPageForm"
															 method="post">
									<div class="row mb-1">
										<label for="askedquestionsAnaBaslik"
											class="col-sm-3 col-form-label-sm">Sık sorulan sorular<br>kısmı Ana Başlık</label>
										<div class="col-sm-9">
											<textarea id="askedquestionsAnaBaslik" name="smmmofisFrequantlyAskedQuestionsMainHeader" th:text="${smmmOfis.smmmofisFrequantlyAskedQuestionsMainHeader}"
												placeholder="Sık sorulan sorular Kısmı Ana Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="row mb-3">
										<label for="askedquestionsAltBaslik"
											class="col-sm-3 col-form-label-sm">Sık sorulan sorular<br>kısmı Alt Başlık</label>
										<div class="col-sm-9">
											<textarea id="askedquestionsAltBaslik" name="smmmofisFrequantlyAskedQuestionsHeader" th:text="${smmmOfis.smmmofisFrequantlyAskedQuestionsHeader}"
												placeholder="Sık sorulan sorular Kısmı Alt Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == false}" class="btn btn-primary btn-sm"> Kaydet </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == true}" class="btn btn-primary btn-sm">Güncelle </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<a class="btn btn-outline-warning btn-sm"> Sık sorulan sorular kısmı için madde ekle. </a>
									</div>
									</form>
									
									<hr>
									
									<div class="container section-title mb-5 text-primary"
										data-aos="fade-up">
										<h2>İletişim</h2>
									</div>
									<form th:action="@{${smmmOfis.id==null}?'/api/v1/save-smmm-homepage-settings-contact-info':'/api/v1/update-smmm-homepage-settings-contact-info/'+${smmmOfis.id}}" id="contactPageForm"
															 method="post">
									<div class="row mb-1">
										<label for="contactAnaBaslik"
											class="col-sm-3 col-form-label-sm">İletişim kısmı<br>Ana Başlık</label>
										<div class="col-sm-9">
											<textarea id="contactAnaBaslik" name="contactMainHeader" th:text="${smmmOfis.contactMainHeader}"
												placeholder="İletişim Kısmı Ana Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="row mb-1">
										<label for="contactAltBaslik"
											class="col-sm-3 col-form-label-sm">İletişim kısmı<br>Alt Başlık</label>
										<div class="col-sm-9">
											<textarea id="contactAltBaslik" name="contactHeader" th:text="${smmmOfis.contactHeader}"
												placeholder="İletişim Kısmı Alt Başlık"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="row mb-1">
										<label for="contactAdress" class="col-sm-3 col-form-label-sm">İletişim kısmı<br>Adres</label>
										<div class="col-sm-9">
											<textarea id="contactAdress"
												placeholder="İletişim Kısmı Adres" name="contactAddress" th:text="${smmmOfis.contactAddress}"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="row mb-1">
										<label for="contactTelephone"
											class="col-sm-3 col-form-label-sm">İletişim kısmı<br>Telefon No</label>
										<div class="col-sm-9">
											<input type="text" id="contactTelephone" name="contactTelephone" th:value="${smmmOfis.contactTelephone}"
												placeholder="İletişim Kısmı için Telefon No"
												class="form-control form-control-sm">
										</div>
									</div>
									<div class="row mb-1">
										<label for="contactEmail" class="col-sm-3 col-form-label-sm">İletişim kısmı<br>E-mail</label>
										<div class="col-sm-9">
											<input type="email" id="contactEmail" name="contactEmail" th:value="${smmmOfis.contactEmail}"
												placeholder="İletişim kısmı için E-mail"
												class="form-control form-control-sm">
										</div>
									</div>
									<div class="row mb-3">
										<label for="contactGoogleHarita"
											class="col-sm-3 col-form-label-sm">Google<br>Harita koordinatı</label>
										<div class="col-sm-9">
											<textarea id="contactGoogleHarita" name="googleHarita" th:text="${smmmOfis.googleHarita}"
												placeholder="Google harita koordinatı"
												class="form-control form-control-sm"></textarea>
										</div>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == false}" class="btn btn-primary btn-sm"> Kaydet </button>
									</div>
									<div class="d-grid gap-2 mb-1">
										<button type="submit" th:if="${updateBtnActive == true}" class="btn btn-primary btn-sm">Güncelle </button>
									</div>
									</form>
									
									<!-- End General Form Elements -->
								</div>
							</div>
							
						</div>
<!-- 						<div class="col-lg-12"> -->
<!-- 							<div class="d-grid gap-2 mb-1"> -->
<!-- 										<button type="submit" th:if="${updateBtnActive == false}" class="btn btn-primary btn-sm"> Kaydet </button> -->
<!-- 									</div> -->
<!-- 									<div class="d-grid gap-2 mb-1"> -->
<!-- 										<button type="submit" th:if="${updateBtnActive == true}" class="btn btn-primary btn-sm">Update </button> -->
<!-- 									</div> -->
<!-- 						</div> -->
<!-- 						</form> -->
					</div>
			</section>

			<!-- multistepform end -->
		</main>
		<!-- End #main -->

	</div>
	
	
	<div th:replace="~{adminpanel/fragments/footer}"></div>
	<div th:replace="~{adminpanel/fragments/js}"></div>





</body>

</html>