<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{adminpanel/fragments/head}"></head>
<body>
	<!-- ======= Header ======= -->
	<header th:replace="~{adminpanel/fragments/header}"></header>
	<!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<aside th:replace="~{adminpanel/fragments/sidebar}"></aside>
	<!-- End Sidebar-->

	<div layout:fragment="content">

		<main id="main" class="main">

			<div class="pagetitle">
				<h1>Abone e-mail listesi</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Ayarlar</a></li>
						<li class="breadcrumb-item">E-mail aboneleri</li>
					</ol>
				</nav>
			</div>
			<!-- End Page Title -->

			<section class="section">

				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-body p-1">

								<div class="d-flex mt-1 btn-group overflow-scroll" style="height: 75px; scrollbar-width: thin;">
									<a class="btn btn-primary py-3" data-bs-toggle="modal"
										data-bs-target="#addSubscribedEmailModal">E-mail Ekle</a>
									<a th:href="@{/cp/get-in-active-subscribed-emails}"
										class="btn btn-danger py-3">Aktif olmayan e-mailler</a>
									<a th:href="@{/cp/get-active-subscribed-emails}"
										class="btn btn-success py-3">Aktif olan e-mailler</a>
									<a th:href="@{/cp/get-all-subscribed-emails}"
										class="btn btn-info py-3">Bütün e-mail listesi</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col">

						<div class="card h-100">
							<div class="card-body">
								<h5 class="card-title">E-mail Listesi</h5>

								<!-- Table with hoverable rows -->
								<div class="overflow-scroll"
									style="height: 300px; scrollbar-width: thin;">
									<table id="messageTable" class="table table-hover table-sm">
										<thead class="position-sticky fixed-top z-1">
											<tr>
												<th>#</th>
												<th><i class="bi bi-tools"></i></th>
												<th class="">Email</th>
												<th class="">Abonelik isteme Tarihi</th>
												<th class="d-none">smmmofisId</th>
											</tr>
										</thead>
										<tbody id="messageTableBody">
											<tr th:each="e,i :${emailList}">
												<td th:text="${i.count}"></td>
												<td>
													<div class="btn-group" role="group">
														<a id="viewSubscribedEmailBtn" class="btn btn-info"
															th:href="@{/cp/get-subscribed-email/{id}(id=${e.id})}"
															data-bs-toggle="modal"
															data-bs-target="#viewSubscribedEmailModal"> <i
															class="bi bi-eye"></i>
														</a> <a id="editSubscribedEmailBtn" class="btn btn-warning"
															th:href="@{/cp/get-subscribed-email/{id}(id=${e.id})}"
															data-bs-toggle="modal"
															data-bs-target="#editSubscribedEmailModal"> <i
															class="bi bi-pencil"></i>
														</a> <a id="deleteSubscribedEmailBtn" class="btn btn-danger"
															th:href="@{/cp/delete-subscribed-email(id=${e.id})}"
															data-bs-toggle="modal"
															data-bs-target="#deleteSubscribedEmailModal"> <i
															class="bi bi-trash"></i>
														</a>
														<i class="btn btn-light"
														th:classappend="${e.active==true}? 'bi bi-check-lg text-success':'bi bi-x-lg text-danger'"
														></i>
														<span class="btn d-none"
														th:classappend="${e.active==true}? 'bg-success':'bg-danger'"
														th:text="${e.active==true}? ' Aktif':' Pasif'"></span>
													</div>
													
												</td>
												
												<td><span th:text="${e.email}"
													class="d-inline"
													style="max-width: 150px;"></span></td>												
												<td class=""><span
													th:text="${#temporals.format(e.date, 'dd-MM-yyyy HH:mm:ss')}"
													class="d-inline" style="max-width: 150px;"></span></td>
												<td class="d-none" th:text="${e.smmmofis_id}"></td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- End Table with hoverable rows -->
							</div>
						</div>

					</div>


				</div>
			</section>

		</main>
		<!-- End #main -->

	</div>

	<!-- add subscribe e-mail modal sart -->
	<div class="modal fade" id="addSubscribedEmailModal" tabindex="-1"
		style="display: none; padding-right: 1px;" aria-hidden="true"
		role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title text-white">Mesaj Ekle</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<!-- Horizontal Form -->
					<form class="mt-3" id="addSubscribedEmailForm"
						th:action="@{/cp/add-message}" method="post">

						<div class="row mb-1">
							<label for="name" class="col-sm-2 col-form-label">İsim</label>
							<div class="col-sm-10">
								<input type="text" class="form-control form-control-sm" required="required"
									id="name" name="name">

							</div>
						</div>
						<div class="row mb-2">
							<label for="email" class="col-sm-2 col-form-label">E-mail</label>
							<div class="col-sm-10">
								<input class="form-control form-control-sm" id="name" required="required"
									name="name">
							</div>
						</div>
						<div class="row mb-2">
							<label for="subject" class="col-sm-2 col-form-label">Konu</label>
							<div class="col-sm-10">
								<input class="form-control form-control-sm" id="subject"
									name="subject">
							</div>
						</div>
						<div class="row mb-2">
							<label for="message" class="col-sm-2 col-form-label">Mesaj</label>
							<div class="col-sm-10">
								<textarea class="form-control form-control-sm" id="message"
									name="message"
									style="height: 150px;"></textarea>
							</div>
						</div>							
						
						<div class="d-grid">
							<button type="submit" class="btn btn-primary">Kaydet</button>
						</div>

					</form>
					<!-- End Horizontal Form -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning"
						data-bs-dismiss="modal">
						<i class="bi bi-x-circle-fill"></i> Kapat
					</button>
					
				</div>
			</div>
		</div>
	</div>
	<!-- add subscribe e-mail modal end -->

	<!-- view subscribe e-mail modal sart -->
	<div class="modal fade" id="viewSubscribedEmailModal" tabindex="-1"
		style="display: none; padding-right: 1px;" aria-hidden="true"
		role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-info">
					<h5 class="modal-title text-white">Mesaj Bilgileri</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<!-- Horizontal Form -->
					<form class="mt-3" id="messageInfoForm">
						<div class="row mb-1 d-none">
							<label for="messageid" class="col-sm-3 col-form-label">#</label>
							<div class="col-sm-9">
								<input type="text"
									class="form-control-plaintext form-control-sm" id="messageid" disabled="disabled"
									readonly="readonly">
							</div>
						</div>

						<div class="row mb-1">
							<label for="name" class="col-sm-3 col-form-label">İsim</label>
							<div class="col-sm-9">
								<input type="text" class="form-control form-control-sm" disabled="disabled"
									id="name">
							</div>
						</div>
						<div class="row mb-1">
							<label for="email" class="col-sm-3 col-form-label">E-mail</label>
							<div class="col-sm-9">
								<input type="text" class="form-control form-control-sm" disabled="disabled"
									id="email">
							</div>
						</div>
						<div class="row mb-1">
							<label for="subject" class="col-sm-3 col-form-label">Konu</label>
							<div class="col-sm-9">
								<input class="form-control form-control-sm" id="subject" disabled="disabled">
							</div>
						</div>
						<div class="row mb-1">
							<label for="message" class="col-sm-3 col-form-label">Mesaj</label>
							<div class="col-sm-9">
								<textarea class="form-control form-control-sm" id="message" disabled="disabled"
									style="height: 200px;"></textarea>
							</div>
						</div>
						<div class="row mb-1">
							<label for="date" class="col-sm-3 col-form-label">Gönderim Tarihi</label>
							<div class="col-sm-9">
								<input type="datetime-local"
									id="sendDate" disabled="disabled"
									class="form-control form-control-sm">
							</div>
						</div>
						<div class="row mb-1">
							<label for="dateofread" class="col-sm-3 col-form-label">Okuma Tarihi</label>
							<div class="col-sm-9">
								<input type="datetime-local" id="dateofread" disabled="disabled"
									class="form-control form-control-sm">
							</div>
						</div>


						<div class="row mb-3 d-none">
							<div class="col-sm-9 offset-sm-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="okundu" disabled="disabled">
									<label class="form-check-label"
										for="okundu"> Okundu olarak işaretle </label>
								</div>
							</div>
						</div>
						<div class="row mb-1 d-none">
							<label for="smmmofis_id" class="col-sm-3 col-form-label">#</label>
							<div class="col-sm-9">
								<input type="text" class="form-control form-control-sm"
									id="smmmofis_id" disabled="disabled"
									readonly="readonly">
							</div>
						</div>

					</form>
					<!-- End Horizontal Form -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning"
						data-bs-dismiss="modal">
						<i class="bi bi-x-circle-fill"></i> Kapat
					</button>
					
				</div>
			</div>
		</div>
	</div>
	<!-- view subscribe e-mail modal end -->

	<!-- edit subscribe e-mail modal sart -->
	<div class="modal fade" id="editSubscribedEmailModal" tabindex="-1"
		style="display: none; padding-right: 1px;" aria-hidden="true"
		role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-warning">
					<h5 class="modal-title text-white">Mesajı Oku</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<!-- Horizontal Form -->
					<form class="mt-3" id="messageEditForm"
						th:action="@{/cp/update-message}" method="post">
						
						<div class="row mb-1 d-none">
							<label for="messageid" class="col-sm-3 col-form-label">#</label>
							<div class="col-sm-9">
								<input type="text"
									class="form-control form-control-sm" id="messageid"
									name="id" disabled="disabled">
							</div>
						</div>

						<div class="row mb-1">
							<label for="name" class="col-sm-3 col-form-label">İsim</label>
							<div class="col-sm-9">
								<input type="text" class="form-control form-control-sm" disabled="disabled"
									id="name" name="name">
							</div>
						</div>
						<div class="row mb-1">
							<label for="email" class="col-sm-3 col-form-label">E-mail</label>
							<div class="col-sm-9">
								<textarea class="form-control form-control-sm" id="email"
									name="email" disabled="disabled"
									style="height: 200px;"></textarea>
							</div>
						</div>
						<div class="row mb-1">
							<label for="subject" class="col-sm-3 col-form-label">Konu</label>
							<div class="col-sm-9">
								<input class="form-control form-control-sm" id="subject"
									name="subject" disabled="disabled">
							</div>
						</div>
						<div class="row mb-1">
							<label for="message" class="col-sm-3 col-form-label">Mesaj</label>
							<div class="col-sm-9">
								<textarea class="form-control form-control-sm" id="message"
									name="message" disabled="disabled"
									style="height: 200px;"></textarea>
							</div>
						</div>
						<div class="row mb-1">
							<label for="dateofpublish" class="col-sm-3 col-form-label">Gönderim Tarihi</label>
							<div class="col-sm-9">
								<input type="datetime-local" disabled="disabled"
									id="sendDate"
									class="form-control form-control-sm">
							</div>
						</div>
						<div class="row mb-1">
							<label for="readDate" class="col-sm-3 col-form-label">Okuma Tarihi</label>
							<div class="col-sm-9">
								<input type="datetime-local" id="dateofread" disabled="disabled"
									class="form-control form-control-sm">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-10 offset-sm-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="okundu" id="okundu">
									<label class="form-check-label"
										for="okundu"> Okundu olarak işaretle </label>
								</div>
							</div>
						</div>
						<div class="row mb-1 d-none">
							<label for="smmmofis_id" class="col-sm-3 col-form-label">#</label>
							<div class="col-sm-9">
								<input type="text" class="form-control form-control-sm"
									id="smmmofis_id" name="smmmofis_id"
									disabled="disabled">
							</div>
						</div>
						<div class="d-grid">
							<button type="submit" class="btn btn-primary">Kaydet</button>
						</div>

					</form>
					<!-- End Horizontal Form -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning"
						data-bs-dismiss="modal">
						<i class="bi bi-x-circle-fill"></i> Kapat
					</button>
					
				</div>
			</div>
		</div>
	</div>
	<!-- edit subscribe e-mail modal end -->

	<!-- delete subscribe e-mail modal sart -->
	<div class="modal fade" id="deleteSubscribedEmailModal" tabindex="-1"
		style="display: none; padding-right: 1px;" aria-hidden="true"
		role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-danger">
					<h5 class="modal-title text-white">Kayıt silinecek! Emin misin ?</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<!-- Horizontal Form -->
					<form class="mt-3" id="messageDeleteForm">
						<div class="row mb-1 d-none">
							<label for="messageid" class="col-sm-3 col-form-label">#</label>
							<div class="col-sm-9">
								<input type="text"
									class="form-control form-control-sm" id="messageid"
									disabled="disabled">
							</div>
						</div>

						<div class="row mb-1">
							<label for="name" class="col-sm-3 col-form-label">İsim</label>
							<div class="col-sm-9">
								<input type="text" class="form-control form-control-sm" readonly="readonly"
									id="name" disabled="disabled">
							</div>
						</div>
						<div class="row mb-1">
							<label for="email" class="col-sm-3 col-form-label">E-mail</label>
							<div class="col-sm-9">
								<input class="form-control form-control-sm" id="email"
									disabled="disabled">
							</div>
						</div>
						<div class="row mb-1">
							<label for="subject" class="col-sm-3 col-form-label">Konu</label>
							<div class="col-sm-9">
								<input class="form-control form-control-sm" id="subject"
									disabled="disabled">
							</div>
						</div>
						<div class="row mb-1">
							<label for="message" class="col-sm-3 col-form-label">Mesaj</label>
							<div class="col-sm-9">
								<textarea class="form-control form-control-sm" id="message"
									disabled="disabled"
									style="height: 200px;"></textarea>
							</div>
						</div>
						<div class="row mb-1">
							<label for="dateofpublish" class="col-sm-3 col-form-label">Gönderim Tarihi</label>
							<div class="col-sm-9">
								<input type="datetime-local" disabled="disabled"
									id="sendDate"
									class="form-control form-control-sm">
							</div>
						</div>
						<div class="row mb-1">
							<label for="readDate" class="col-sm-3 col-form-label">Okuma Tarihi</label>
							<div class="col-sm-9">
								<input type="datetime-local" id="readDate" disabled="disabled"
									class="form-control form-control-sm">
							</div>
						</div>
						<div class="row mb-3 d-none">
							<div class="col-sm-10 offset-sm-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="okundu" disabled="disabled">
									<label class="form-check-label"
										for="okundu"> Okundu olarak işaretle </label>
								</div>
							</div>
						</div>
						<div class="row mb-1 d-none">
							<label for="smmmofis_id" class="col-sm-3 col-form-label">#</label>
							<div class="col-sm-9">
								<input type="text" class="form-control form-control-sm"
									id="smmmofis_id"
									disabled="disabled">
							</div>
						</div>
						
					</form>
					<!-- End Horizontal Form -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning"
						data-bs-dismiss="modal">
						<i class="bi bi-x-circle-fill"></i> Kapat
					</button>
					<a type="button" id="deleteSubscribedEmailConfirmBtn" href=""
						class="btn btn-danger"><i class="bi bi-trash-fill"></i> Evet
						Sil</a>
				</div>
			</div>
		</div>
	</div>
	<!-- delete subscribe e-mail modal end -->

	<div th:replace="~{adminpanel/fragments/footer}"></div>
	<div th:replace="~{adminpanel/fragments/js}"></div>
	<script th:src="@{../../customjs/messages.js}"
		type="text/javascript"></script>

</body>

</html>