<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{homepagefragments/head}"></head>
<body class="portfolio-details-page">
  <header th:replace="~{homepagefragments/header}" ></header>

  <div layout:fragment="content" style="margin-top: 85px;" >
  <main class="main" id="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a th:href="@{/}">Anasayfa</a></li>
            <li class="current">Şirket detay</li>
          </ol>
        </nav>
        <h1>Şirket detay</h1>
      </div>
    </div><!-- End Page Title -->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper init-swiper">

              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>

              <div class="swiper-wrapper align-items-center">

               

                <div class="swiper-slide"> <!-- 'data:image/*;base64,' + ${company.stringResim} -->
                  <img th:src="@{'data:image/*;base64,' + ${company.stringResim}}" alt="">
                </div>

                

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>Şirket Profili</h3>
              <ul>
                <li><strong>Faaliyet Alanı:</strong><p> [[${company.sector.name}]]</p></li>
                <li><strong>Şirket İsmi:</strong><p> [[${company.name}]]</p></li>
                <li><strong>Şirket Ünvanı:</strong><p> [[${company.unvan}]]</p></li>
                <li><strong>Başlama Tarihi:</strong> [[${company.startDate}]]</li>
                <li><strong>Web Sayfası:</strong> <a href="#">[[${company.webUrl}]]</a></li>
              </ul>
            </div>
            <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
              <h2 th:text="${company.mainheader}">Exercitationem repudiandae officiis neque suscipit</h2>
              <h2 th:text="${company.header}">Exercitationem repudiandae officiis neque suscipit</h2>
              <p th:text="${company.description}">
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Portfolio Details Section -->

  </main>
  
  </div>
  
  <footer th:replace="~{homepagefragments/footer}"></footer>

  <div th:replace="~{homepagefragments/js}"></div>
</body>

</html>